# [ INTRODUCTION ]

In [2]:
import pandas as pd

In [3]:
# read a file 

df =pd.read_csv("services.csv")

In [4]:
# -> this will show only the first 5 records
#  -> when pandas read files. It think of the first row as table header. 

df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

**IF your data do not have any header parameter Like 'Name', 'ID' then put the header parameter to NONE .**

In [6]:
df.head(3)

# -> To show the first 3 record

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [8]:
# To show the last 3 records. 

df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
# all the columns in the data frame (df) above . 

list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [11]:
# -> to select particular column

df['service_areas']

0                                     Colma
1                          San Mateo County
2                          San Mateo County
3                          San Mateo County
4                          San Mateo County
5                          San Mateo County
6       Belmont, Burlingame, East Palo Alto
7                   Belmont, East Palo Alto
8                          San Mateo County
9                          San Mateo County
10                         San Mateo County
11                                Daly City
12                         San Mateo County
13      Belmont, Burlingame, East Palo Alto
14         Alameda County, San Mateo County
15                                      NaN
16    Colma, Daly City, South San Francisco
17                           East Palo Alto
18                      Belmont, Burlingame
19                                      NaN
20                         San Mateo County
21         Alameda County, San Mateo County
22         San Mateo County, Alameda County
Name: service_areas, dtype: object

In [12]:
df['languages']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21    Spanish
22        NaN
Name: languages, dtype: object

In [13]:
type(df['status'])

pandas.core.series.Series

In [14]:
list(df['status'])

['active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'defunct',
 'inactive',
 'active',
 'active']

In [16]:
# -> passing a column name inside a list 

df[['status']]

      status
0     active
1     active
2     active
3     active
4     active
5     active
6     active
7     active
8     active
9     active
10    active
11    active
12    active
13    active
14    active
15    active
16    active
17    active
18    active
19   defunct
20  inactive
21    active
22    active

In [17]:
type(df[['status']])

pandas.core.frame.DataFrame

* Passing column name without a list - becomes a series 
* Passing column name within a list - becomes a Data Frame
* Cant select multiple columns at a same time. [ can do as a list]

**READING EXCEL FILE**

In [20]:
df[['email','keywords','name']]

,email,keywords,name
0,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",Fair Oaks Adult Activity Center
1,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",Second Career Employment Program
2,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",Senior Peer Counseling
3,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",Family Visitation Center
4,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",Economic Self-Sufficiency Program
5,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",Little House Recreational Activities
6,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",Rosener House Adult Day Services
7,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",Meals on Wheels - South County
8,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",Fair Oaks Branch
9,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",Main Library
10,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",Schaberg Branch
11,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",Project Read
12,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",Redwood Shores Branch
13,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",Redwood City Corps
14,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",Adult Rehabilitation Center
15,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",Sunnyvale Corps
16,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",South San Francisco Citadel Corps
17,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",Project Smile
18,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",San Mateo Free Medical Clinic
19,NaN,NaN,Service with blank fields
20,NaN,NaN,Service for Admin Test Location
21,passports@example.org,"Salud, Medicina",Passport Photos
22,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",Example Service Name

In [21]:

df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [25]:
df1= pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [26]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [27]:
list(df1.columns)

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9']

* To read file in csv format from a web link : 
    * pd.read_csv("put the link here ")

In [29]:
# -> reading data from a website. 

url_data = pd.read_html("https://www.basketball-reference.com/boxscores/")  #data given as a list

In [30]:
type(url_data)

list

In [32]:
len(url_data)

14

In [48]:
df3 = url_data[12]
df3

     Eastern Conference   W   L   W/L%    GB   PS/G   PA/G
0       Milwaukee Bucks  43  17  0.717     â€”  114.9  111.2
1        Boston Celtics  44  18  0.710     â€”  117.7  112.0
2    Philadelphia 76ers  39  21  0.650   4.0  113.9  110.2
3   Cleveland Cavaliers  39  25  0.609   6.0  111.9  106.5
4       New York Knicks  36  27  0.571   8.5  114.7  111.9
5         Brooklyn Nets  34  26  0.567   9.0  113.8  112.9
6            Miami Heat  33  29  0.532  11.0  108.0  108.5
7         Atlanta Hawks  31  30  0.508  12.5  116.9  117.0
8       Toronto Raptors  30  32  0.484  14.0  112.7  112.2
9    Washington Wizards  28  32  0.467  15.0  113.0  113.2
10        Chicago Bulls  28  33  0.459  15.5  113.2  112.4
11       Indiana Pacers  27  35  0.435  17.0  115.0  117.4
12        Orlando Magic  26  36  0.419  18.0  110.6  113.3
13    Charlotte Hornets  20  43  0.317  24.5  112.6  118.4
14      Detroit Pistons  15  47  0.242  29.0  111.7  119.2

* use this to save the data frame in the local memory

    * df3.to_csv("NBA_games_Places")

In [49]:
df3.to_csv("NBA_Games_Places")

In [50]:
df3.columns

Index(['Eastern Conference', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G'], dtype='object')

In [51]:
df3.dtypes

Eastern Conference     object
W                       int64
L                       int64
W/L%                  float64
GB                     object
PS/G                  float64
PA/G                  float64
dtype: object